@import "../../../scss/App.scss";

.room-detail {
  margin: 15px;
  background-color: antiquewhite;
}

.room-info-panel {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
