@import "../../scss/App.scss";

.authForm-wrapper {
  background-color: $primary-color;
  height: 100vh;
  @extend %center-block;
  align-items: center;
}

.auth-form {
  background-color: $primary-color-light;
  border: $border-default;
  border-radius: $border-radius-default;
  padding: 15px;

  width: fit-content;
  min-width: 40vh;
}
